<div class="jumbotron">
    <div class="container">
        <h1>{{title}}</h1>
        <h2>{{titlePage}}</h2>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></p>
    </div>
</div>
